#hero {
  min-height: 90vh;
  margin: 0.6rem 3.125rem;
}
.heroWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.heroLeft {
  flex: 1;
  padding: 20px;
}
.heroTitle {
  font-weight: 600;
  padding: 20px 20px 0px 20px;
}
.heroTitle b {
  color: palevioletred;
}
.heroSub {
  font-weight: 400;
  color: gray;
  padding: 20px;
}
.heroButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}
.heroButton > button {
  padding: 0.7em 7em;
  border: none;
  outline: none;
  background-color: #313638;
  color: #f7fff7;
  border-radius: 3px;
  text-decoration: none;
}
.heroButton a {
  text-decoration: none;
  color: #f7fff7;
}
.heroRight {
  flex: 1;
  padding: 20px;
  height: 85vh;
}
.heroRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: contrast(120%);
  border-radius: 3px;
}
@media screen and (max-width: 1000px) {
  #hero {
    position: relative;
    width: 100%;
    height: 90vh;
    margin: 0;
  }
  .heroWrapper {
    padding: 0;
    margin: 0;
  }
  .heroLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 0;
    padding: 2rem;
    text-align: center;
  }
  .heroSub {
    font-size: 2ch;
    color: black;
  }
  .heroRight {
    padding: 0;
  }
  .heroRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .heroTitle {
    font-size: 3rem;
  }
}
@media (max-width: 550px) {
  .heroSub {
    display: none;
  }
  .heroButton {
    margin-top: 5rem;
  }
  .heroTitle {
    font-size: 36px;
  }
  .heroButton > button {
    padding: 0.7rem 4rem;
    color: #313638;
    background-color: palevioletred;
    border: 1px solid #313638;
  }
}
