#Rooms {
  width: 100%;
  padding: 0.7rem 7rem;
  margin: 0 auto;
}
.roomsSection {
  display: flex;
  align-items: center;
  color: palevioletred;
}
.roomsTitle {
  font-weight: 400;
  text-align: center;
  padding: 20px 0px;
}
.roomsWrapper {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.roomCard {
  flex: 1;
  position: relative;

  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.roomCard > img {
  width: 100%;
  max-height: 450px;
}
.roomImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.roomInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: fit-content;
  bottom: -20px;
  left: -30px;
  color: black;
  padding: 1rem;
  opacity: 1;
  background-color: white;
  z-index: 1;
}
.roomInfo h3 {
  font-weight: 400;
  cursor: pointer;
}
.roomInfo p {
  padding-bottom: 10px;
}
.roomInfo button {
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 3px;
  background: #313638;
  color: white;
  font-size: 16px;
}
.roomInfo button a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1200px) {
  .roomInfo {
    position: static;
  }
  .roomCard {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
@media (max-width: 1000px) {
  #Rooms {
    padding: 0em 4rem;
  }
}
@media (max-width: 800px) {
  #Rooms {
    padding: 0em 3rem;
  }
}
@media (max-width: 600px) {
  #Rooms {
    padding: 0em 2rem;
  }
  .roomsWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .roomCard {
    width: 100%;
  }
  .roomCard {
    box-shadow: none;
  }
}
@media (max-width: 300px) {
  #Rooms {
    padding: 0em 1rem;
  }
  .roomCard {
    box-shadow: none;
  }
}
