#Benefits {
  margin: 0 auto;
}
.bfWrapper {
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.bfLeft {
  flex: 1;
  height: 550px;
  background-color: red;
}
.bfLeft img {
  width: 100%;
  min-height: 100%;
  object-fit: fill;
  object-position: center;
}
.bfRight {
  flex: 1;
  padding-left: 20px;
}
.bfSub {
  color: palevioletred;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.bfTitle {
  font-size: 2rem;
  font-weight: 500;
}
.bfCards {
  padding-top: 20px;
}
.bfEach {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 10px 0px;
}
.bfFeature {
  display: flex;
  flex-direction: column;
}
.bfFeature h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
.bfFeature p {
  padding-right: 50px;
  color: gray;
  font-size: clamp(0.75rem, 51vw, 1rem);
}
