#Process {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 100%;
  padding: 0em 8.5em;
}
.processSub {
  padding-left: 10%;
  padding-bottom: 20px;
  color: palevioletred;
  display: flex;
  align-items: center;
}
.processHeader {
  font-weight: 500;
  text-align: center;
  padding-bottom: 30px;
  color: black;
}
.processWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: baseline;
}
.stepsCard {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
}
.stepIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.stepIcon img {
  height: 80px;
  width: 80px;
}
.stepIcon span {
  font-size: 90px;
  font-weight: 600;
  color: lightgray;
}
.stepsCard > h4 {
  padding-top: 10px;
  color: black;
}
.stepsCard > p {
  padding-top: 10px;
  font-weight: 500;
}
.processButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
}
.processButton > button {
  padding: 0.7em 2em;
  border: none;
  outline: none;
  background-color: #313638;
  color: white;
  border-radius: 3px;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 800px) {
  #Process {
    padding: 0em 3.5em;
  }
  .processWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  #Process {
    padding: 0em 2em;
  }
  .processWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .stepsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
